<div class="container">
    <h1 class="text-center mt-5">Welcome to your task manager</h1>
    <div class="d-flex justify-content-center">
        <p class="mt-5" style="font-size:30px; color:white;"><%= link_to "Go to my list", tasks_path %></p>
    </div>
</div>