<div class="container">
    <h1>These are your tasks</h1>
    <% @tasks.each do |task| %>
        <% if task.completed %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled>
                <%= link_to task.title, task_path(id: task.id) %>
            </div>
        <% else %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
                <%= link_to task.title, task_path(id: task.id) %>
            </div>
        <% end %>
    <% end %>
    <hr>
    <%= link_to "Add a new task", tasks_new_path %>
</div>


